/downloads
/pictures
/school
/projects
/ly
/R
/yay

/.vim
/.local
/.cache
/.ssh
/.mozilla
/.pki
/.jupyter
/.ipython
/.vscode-oss
/.android/
/.config/flutter/
/.dart-tool/
/.flutter
/.pub-cache/
/.python_history
/android-sdk/
/.dart/
/.dartServer/

/.config/nvim
/.config/nvim-astro
/.config/zsh/.zsh_history
/.config/libreoffice
/.config/rstudio
/.config/Code - OSS
/.config/gtk-3.0
/.config/systemd
/.config/pulse
/.config/inkscape

lesshst
.RData
.Rhistory
.Xauthority
.zsh_history
.bash_history
.bash_logout
.histfile
.lesshst
.wget-hsts
.viminfo

.gitconfig
GITHUBKEY
