[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/JoshuaMarkle/nvim.git
[submodule ".config/tmux/plugins/tpm"]
	path = .config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule ".config/tmux/plugins/minimal-tmux-status"]
	path = .config/tmux/plugins/minimal-tmux-status
	url = https://github.com/niksingh710/minimal-tmux-status.git
