/Downloads
/School
/Projects
/ly
/R
/yay

/.local
/.cache
/.ssh
/.mozilla
/.pki
/.jupyter
/.ipython
/.vscode-oss

/.config/nvim
/.config/nvim-astro
/.config/zsh/.zsh_history
/.config/libreoffice
/.config/rstudio
/.config/Code - OSS
/.config/gtk-3.0
/.config/systemd

lesshst
.RData
.Rhistory
.Xauthority
.zsh_history
.bash_history
.bash_logout
.histfile
.lesshst
.wget-hsts
.viminfo

.gitconfig
GITHUBKEY
