@define-color base      #101319;
@define-color highlight #171B24;
@define-color text      #dadff2;
@define-color textdark  #565f89;

@define-color red       #f7768e;
@define-color orange    #ff9e64;
@define-color yellow    #e0af68;
@define-color green     #9ece6a;
@define-color blue      #7aa2f7;
@define-color purple    #bb9af7;

* {
    font-family: CaskaydiaMonoNerdFont;
    font-size: 12px;
}

window#waybar {
    background-color: @base;
    color: @red;
    margin: 0px;
	padding: 0;
	border-top: 1px solid @textdark;
}

tooltip,
tooltip * {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 0;
	margin: 0;
}

button {
    border: none;
    border-radius: 0;
	font-size: 16px;
}

#workspaces { margin: 0 0 0 6px; }
#workspaces button {
    color: @textdark;
    padding: 0 4px;
    margin: 0;
    transition-duration: 0.1s;
}

#workspaces button.active { color: @text; }
#workspaces button.urgent { color: @orange; }
#workspaces button:hover {
    color: @text;
    background: @highlight;
}

#clock,
#custom-time,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-power,
#custom-updates,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#custom-launcher,
#mpd {
    color: @text;
    padding: 4px 8px;
    background-color: @highlight;
    color: @base;
    margin: 5px 0;
    margin-bottom: 4px;
	border-radius: 4px;
}

#window {
    margin: 0;
}

#custom-launcher {
    color: @text;
    background-color: transparent;
    margin: 0;
    padding: 0 6px 0 12px;
}

#custom-power {
	font-size: 10px;
    background-color: transparent;
    color: @text;
    margin: 0;
    padding: 0 16px 0 8px;
}

#custom-time { color: @red; }
#clock { color: @orange; }
#battery { color: @green; }
#battery.warning:not(.charging) { color: @red; }
#pulseaudio { color: @purple; }
#pulseaudio.muted { color: @purple; }
#network { color: @blue; }
#temperature { color: @red; }
