@define-color base      #FAFBFC;
@define-color highlight #F3F4F5;
@define-color text      #9194A2;
@define-color textdark  #ADB1C2;

@define-color red       #FF5C56;
@define-color orange    #FF9E65;
@define-color yellow    #F5B900;
@define-color green     #35CF68;
@define-color blue      #14B1FF;
@define-color purple    #F767BB;

* {
  font-family: CaskaydiaMonoNerdFont;
  font-size: 12px;
}

window#waybar {
  background-color: @base;
  color: @red;
  margin: 0px;
  padding: 0;
  border-top: 1px solid @textdark;
}

tooltip,
tooltip * {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0;
  margin: 0;
}

button {
  border: none;
  border-radius: 0;
  font-size: 16px;
}

#workspaces {
  margin: 0 0 0 6px;
}
#workspaces button {
  color: @textdark;
  padding: 0 4px;
  margin: 0;
  transition-duration: 0.1s;
}

#workspaces button.active {
  color: @text;
}
#workspaces button.urgent {
  color: @orange;
}
#workspaces button:hover {
  color: @text;
  background: @highlight;
}

#clock,
#custom-time,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-power,
#custom-updates,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#custom-launcher,
#mpd {
  color: @text;
  padding: 4px 8px;
  background-color: @highlight;
  color: @base;
  margin: 5px 0;
  margin-bottom: 4px;
  border-radius: 2px;
}

#window {
  margin: 0;
}

#custom-launcher {
  color: @text;
  background-color: transparent;
  margin: 0;
  padding: 0 6px 0 12px;
}

#custom-power {
  font-size: 10px;
  background-color: transparent;
  color: @text;
  margin: 0;
  padding: 0 16px 0 8px;
}

#custom-time {
  color: @red;
}
#clock {
  color: @orange;
}
#battery {
  color: @green;
}
#battery.warning:not(.charging) {
  color: @red;
}
#pulseaudio {
  color: @purple;
}
#pulseaudio.muted {
  color: @purple;
}
#network {
  color: @blue;
}
#temperature {
  color: @red;
}
