/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #1f2329ff;
    background-alt: #181b20ff;
    foreground:     #abb2bfff;
    selected:       #4fa6edff;
    active:         #8ebd6bff;
    urgent:         #e55561ff;
}
